.title-bar {
    text-align: center;
    color: #333333;
    font-size: 30px;
    padding-bottom: 10px;
}
.nav{
    cursor: pointer;
}

.info-bar {
    text-align: center;
    color: #666;
    font-size: 15px;
    padding-bottom: 50px;
}

.info-bar a {
    color: #45b3e7;
    text-decoration: none;
}

.wrap {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    background-color: #fff;
    overflow: hidden;
}

.nav .ul {
    width: 100%;
    float: left;
    .list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 5px #ccc;
}

.nav .ul .a .li {
    float: left;
    padding: 17px 23px;
    background-color: #ffffff;
    text-decoration: none;
    color: #333333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav .ul .a:hover .li {
    float: left;
    padding: 17px 23px;
    background-color: #45b3e7;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav .ul .a .li .push-right {
    float: right;
    padding: 17px 23px;
    background-color: #ffffff;
    text-decoration: none;
    color: #333333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav .ul .a:hover .li .push-right {
    float: right;
    padding: 17px 23px;
    background-color: #45b3e7;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
